# Created by .ignore support plugin (hsz.mobi)
### Erlang template
.eunit
deps
*.o
*.d
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

/bml.iml
/.idea/
/logs/
/rel/
/.erlang.mk/
/ebin/
